<nav>
    <ul>
        <li>
            <a [routerLink]="['/']" routerLinkActive="active">
                <span>
                    Home
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/sobre']" routerLinkActive="active">
                <span>
                    Quem Somos
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/contato']" routerLinkAtcive="active">
                <span>
                    Contato
                </span>
            </a>
        </li>
    </ul>
</nav>