/* personalizando menu */
nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;

    color: black;
}

span {
    font-family: montserrat;
    font-size: 170%;

    display: inline-block;

    padding: 2.5% 3%;
}

span:hover {
    background-color: lightgray;
    transform: scale(1.1);
}