/* personalizando menu */
nav {
    text-align: center;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

nav a {

    text-decoration: none;
    color: black;

    font-family: montserrat;
    font-size: 23px;
    letter-spacing: 3px;

    display: inline-block;

    padding: 2% 3%;
    padding-top: 3%;
}

a:hover {
    background-color: rgb(252, 252, 252);
    transform: scale(1.05);
}

@media screen and (orientation:portrait) {
    span {
        padding: 7% 5%;
        font-size: 24px;
    }
}