<div class="container">

    <h2>Quem Somos</h2>
    <p>Do eu excepteur sit quis elit. Do dolore magna ad fugiat minim excepteur. Irure magna irure aliqua nisi
        laborum
        tempor et incididunt anim sunt culpa occaecat ipsum. Fugiat ad exercitation veniam culpa labore
        deserunt.
        Minim
        fugiat nostrud id tempor ex reprehenderit in culpa ad ullamco aute consequat.</p>
</div>

<img src="https://images.unsplash.com/photo-1562184760-a11b3cf7c169?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
        alt="office">