/* personalizando a página inicial */

div.container {

    height: 100%;
    
    background: url(http://www.njlogowear.com/portals/4/banner2_01.png) no-repeat right bottom;
    background-size: 75%;
}

div.caption {
    width: 50%;
    text-align: center;
    padding: 5%;

    background-color: rgba(169, 169, 169, 0.7);
    border-radius: 15px;

    position: absolute;
    top: 20%;
    
    margin: 5%;
}

h2 {
    margin-bottom: 2%;
}

@media screen and (orientation:portrait) {
    div.caption {
        width: 80%;
        text-align: center;
        padding: 8%;
    
        background-color: rgba(169, 169, 169, 0.7);
        border-radius: 15px;

        margin: 13% auto;
    
    }
    
    h2 {
        margin-bottom: 5%;
    }
}